@media screen and (min-width: 375px) and (max-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }

  .header {
    width: 100%;
    height: 1024px;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../images/background-image/vegetables-mobile.jpg);
  }

  .header-list {
    width: 100%;
  }

  .header-svg {
    left: 30px;
  }

  .menu-mobile {
    display: flex;
    position: absolute;
    right: 30px;
    top: 32px;
  }

  .green-harvest {
    left: 40px;
  }

  .page-menu-list {
    display: none;
  }

  .title {
    max-width: 335px;
    width: 100%;
    height: 192px;
    font-size: 48px;
    line-height: 48px;
    top: 40px;
  }

  .text {
    max-width: 335px;
    width: 100%;
    height: 90px;
    font-size: 14px;
    line-height: 18px;
    top: 100px;
  }
}
